body {
    /*background-color: #eee;*/
}

/** GRID */

#container { 
    display: grid;  /* 4 x 8 */
    grid: 
        "leftMargin header header rightMargin"              /* 80px */
        "leftMargin txtVote txtShep rightMargin"            /* 120px */
        "leftMargin independent independent rightMargin"    /* 80px */
        "leftMargin dottedLine-1 dottedLine-1 rightMargin"      /* 5px */
        "leftMargin whoSummary whatSummary rightMargin"     /* 1fr */
        "leftMargin dottedLine-2 dottedLine-2 rightMargin"      /* 5px */

        "leftMargin who who rightMargin"
        "leftMargin dottedLine-3 dottedLine-3 rightMargin"      /* 5px */
        "leftMargin what what rightMargin"
        "leftMargin dottedLine-4 dottedLine-4 rightMargin"      /* 5px */        
        /*"leftMargin loveLetter loveLetter rightMargin"*/
        /*"leftMargin dottedLine-5 dottedLine-5 rightMargin" */     /* 5px */        
        "leftMargin electionInfo electionInfo rightMargin"      /* 5px */        
        "leftMargin dottedLine-6 dottedLine-6 rightMargin"      /* 5px */        
        
         "leftMargin footer footer rightMargin";

    grid-template-columns: 10% 1fr 1fr 10%; 
    grid-template-rows: 80px 120px 100px 5px 1fr 5px auto; 
    grid-gap: 6px;
    align-items: stretch;
    height:110%;
    overflow: auto; 
    width:100%;
    position:relative;
    
    top:40px;
    min-width: 1100px;
}

#dottedLine-5 {
    display: none;
}

    /*  
    -- equivalent by row/col numeric ref 
    grid-column: 1 / 3;
    grid-row: 1;     
*/
#header {
    grid-area: header;
    background-color: #fff;
    justify-self: center;
    align-self: center;
}

#content { 
    grid-area: content;
    background-color: #fff;
}

#leftMargin { 
    grid-area: leftMargin; /* auto min-width */ 
    background-color: #fff;
    align-self: stretch;
}

#rightMargin   { 
    grid-area: rightMargin; 
    background-color: #fff;
    align-self: stretch;
}

#dottedLine-1 {
    grid-area: dottedLine-1;
}

#dottedLine-2 {
    grid-area: dottedLine-2;
}
#dottedLine-3 {
    grid-area: dottedLine-3;
}
#dottedLine-4 {
    grid-area: dottedLine-4;
}
#dottedLine-5 {
    grid-area: dottedLine-5;
}
#dottedLine-6 {
    grid-area: dottedLine-6;
}
#electionInfo {
    grid-area: electionInfo;
}

#footer {
    grid-area: footer;
    background-color: #fff;
    justify-self:  stretch;
    align-self: stretch;

    padding: 5px;  
    grid-gap: 10px;
    grid-template-columns: 1fr 5px 1fr;
    display: grid;    
}

#footer #contact{
    justify-content: start;
}

#footer #rememberToVote {
    justify-content: center;
    align-content: center;
}

#txtVote {
    grid-area: txtVote; 
    justify-self: right;
    align-self: center;
    padding:16px;
}

#txtShep {
    grid-area: txtShep; 
    justify-self: left;
    padding: 16px;
    align-self: center;
}

#independent {
    grid-area: independent; 
    justify-self: center;
    align-self: center;

}

#whoSummary {
    grid-area: whoSummary; 
    justify-self: center;
    align-self: center;

    padding: 5px;  
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
    display: grid;    
    padding-top: 60px;
}

#whoSummaryImg {
    justify-self: center;
    align-self: center;
}

#whoSummaryImg img {
    width:300px;
    box-shadow: 1px 1px 5px grey;
    border-radius: 1px;
}

#whoSummaryTxt {
    justify-self: center;
    align-self:start;
    padding:20px;
    text-align: justify;
}

#whatSummary {
    grid-area: whatSummary; 
        padding-top: 40px;

}

#who {
    grid-area: who; 
}

#what {
    grid-area: what; 
}

#loveLetter {
    grid-area: loveLetter;  
}


