body {
    background-color: #eee;
}

/** GRID */

#container { 
    display: grid;  /* 4 x 8 */
    grid: 
        "leftMargin header header rightMargin"              /* 80px */
        "leftMargin txtVote txtShep rightMargin"            /* 120px */
        "leftMargin independent independent rightMargin"    /* 80px */
        "leftMargin dottedLine-1 dottedLine-1 rightMargin"      /* 5px */
        "leftMargin whoSummary whatSummary rightMargin"     /* 1fr */
        "leftMargin dottedLine-2 dottedLine-2 rightMargin"      /* 5px */

        "leftMargin who who rightMargin"
        "leftMargin what what rightMargin"
        "leftMargin loveLetter loveLetter rightMargin"
         "footer footer footer footer";

    grid-template-columns: 10% 1fr 1fr 10%; 
    grid-template-rows: 80px 120px 80px 5px 1fr 5px auto; 
    grid-gap: 6px;
    align-items: stretch;
    height:110%;
    overflow: auto; 
    width:100%;
    position:relative;
    
    top:40px;
    min-width: 1100px;
}

    /*  
    -- equivalent by row/col numeric ref 
    grid-column: 1 / 3;
    grid-row: 1;     
*/
#header {
    grid-area: header;
    background-color: #fff;
    justify-self: center;
    align-self: center;
}

#content { 
    grid-area: content;
    background-color: #fff;
}

#leftMargin { 
    grid-area: leftMargin; /* auto min-width */ 
    background-color: #fff;
    align-self: stretch;
}

#rightMargin   { 
    grid-area: rightMargin; 
    background-color: #fff;
    align-self: stretch;
}

#dottedLine-1 {
    grid-area: dottedLine-1;
}

#dottedLine-2 {
    grid-area: dottedLine-2;
}

#footer {
    grid-area: footer;
    background-color: #fff;
    justify-self:  center;
    align-self: stretch;
}

#txtVote {
    grid-area: txtVote; 
    justify-self: right;
    align-self: center;
    padding:16px;
}

#txtShep {
    grid-area: txtShep; 
    justify-self: left;
    padding: 16px;
    align-self: center;
}

#independent {
    grid-area: independent; 
    justify-self: center;
    align-self: center;

}

#whoSummary {
    grid-area: whoSummary; 
    justify-self: center;
    align-self: center;

    padding: 5px;  
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
    display: grid;    
}

#whoSummaryImg {
    justify-self: center;
    align-self: center;
}

#whoSummaryImg img {
    width:280px;
}

#whoSummaryTxt {
    justify-self: center;
    align-self:start;
    padding:20px;
    text-align: justify;
}

#whatSummary {
    grid-area: whatSummary; 
}

#who {
    grid-area: who; 
}

#what {
    grid-area: what; 
}

#loveLetter {
    grid-area: loveLetter;  
}


