nav ul {
    opacity: 0.7;
    width: 9%;
    list-style-type: none;
    padding: 0;
    background-color: #eee;
    border: dotted  rgb(240, 187, 43) 2px;
    box-shadow: -1px 1px 5px grey;    
    border-top:none;
    position: fixed;
    top: -16px;
    z-index:1;
    left: -4px;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    /* font-family: 'NexaRustScript'; 
    color: rgb(240, 187, 43);      */

    font-family: 'NexaRustSlab'; 
    color: rgb(0,175, 157); 


}

nav li:not(:first-child){
    border-top: dotted rgb(240, 187, 43) 4px;
    border-collapse: collapse;
}

nav li a:hover {
    color: rgb(120, 181, 133);
}

nav .active {
    color:rgb(240, 187, 43);
    
}

/* nav .transition {    
    -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  } */


  .panel {
        z-index:0; 
        -webkit-transform: translateZ( 0 );
        transform: translateZ( 0 );
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        /* -webkit-backface-visibility: hidden;
        backface-visibility: hidden; */
    }

    /*
    *Scrolling
    */

    a[ id= "voteshep" ]:target ~ #container #header.panel {
        -webkit-transform: translateY( 0px);
        transform: translateY( 0px );
    }

    a[ id= "what" ]:target ~ #container div.panel {
        -webkit-transform: translateY( -1090px );
        transform: translateY( -1090px );
    }

    a[ id= "who" ]:target ~ #container div.panel {
        -webkit-transform: translateY( -2810px );
        transform: translateY( -2810px );
    }    

    a[ id= "footer" ]:target ~ #container div.panel {
        -webkit-transform: translateY( -4190px );
        transform: translateY( -4190px );
    }     